@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "themify";
    src: url("/src/fonts/themify.ttf")
  }

 
.splashImage{
    padding-left: 500px;
    z-index: -1;
    
}

.my20{
    margin-left: 20%;
    margin-right: 20%;
}

.navButton{
    /* font-family: "themify"; */
    /* this doesnt work for some reason */
    /* padding: 22px; */
    @apply inline-block p-4 text-customGray transition duration-150 hover:text-mainPink;
}

.bannerbg{
    background-image: url(./media/leaf.png) no-repeat left;
}

.playColor{
    background-color: #fcf5ee;
}

/* hover on thing and mark the rest */

.lort:hover .asdf{ 
    @apply bg-yellow-300;
}

.treatment{
    position: relative;
}

.treatment div{
    background-color: rgba(255, 129, 126, 0.9);
    transition: all 300ms ease-in-out; 
    @apply absolute w-full h-full invisible flex items-center justify-center opacity-0 ;
    @apply text-white text-xl flex-col;
}

.treatment:hover .treatmentpic {
    visibility: visible;
    opacity: 1;
    
}


.procButton{
    background: #30383b;
    transition: all 300ms ease-in-out;
    @apply rounded-full py-2 px-6 text-white transition duration-300 hover:bg-mainPink font-bold mt-4;
}

.procedure:hover .procButton{
    background-color: rgba(255, 129, 126, 0.9);
     
}

.appointmentInput{
    @apply bg-transparent border-b-2 p-2 outline-none focus:border-mainPink transition ease-out duration-150;
}

.mainButton{
   @apply bg-mainPink text-white font-bold px-4 py-3 rounded-full hover:text-textGray transition; 
}

.serviceGradient{
    background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 23%, rgba(0,212,255,0) 100%);
}